{% extends 'base_acta.html.twig' %}


     {% block jurados %}
        <th>Nombres y Apellidos</th>
         <th>Cédula Identidad</th>
         <th>Categoría</th>
        {% for jurado in jurados %}
            {% if jurado.idEstatusTutor.id == 1 or jurado.idEstatusTutor.id == 2 %}
                <tr>
                    <td>{{ jurado.idTutor.nombres }}</td>
                    <td>{{ jurado.idTutor.cedulaPasaporte }}</td>
                    <td>{{ jurado.idTutor.idEscala.nombre }}</td>
                </tr>
            {% endif %}

        {% endfor %}

     {% endblock %}

     {% block resolucion %}
        {{ resolucion }}
     {% endblock %}

     {% block presidente %}
         {{ presidente.idTutor.nombres }} {{ presidente.idTutor.apellidos }} {{ presidente.idTutor.cedulaPasaporte }}
     {% endblock %}

     {% block titulo %}
         {{ ascenso.tituloTrabajo }}
     {% endblock %}

{% block tituloPertinencia %}
    {{ pertinencia.tituloPertinencia }}
{% endblock %}

{% block lugarDefensa %}
    {{ pertinencia.lugarPertinencia }}
{% endblock %}

{% block fechaDefensa %}
    {{ pertinencia.fechaDefensa | date('d-m-Y') }}
{% endblock %}


{% block titulo2 %}
    {{ ascenso.tituloTrabajo }}
{% endblock %}

{% block eje %}
    {{ eje }}
{% endblock %}

{% block estado %}
    {{ estado }}
{% endblock %}

{% block categoria0 %}
    {{ categoria }}
{% endblock %}
     {% block categoria1 %}
         {{ categoria }}
     {% endblock %}
     {% block categoria2 %}
         {{ categoria }}
     {% endblock %}
     {% block categoria3 %}
         {{ categoria }}
     {% endblock %}

     {% block modalidad1 %}
         {{ ascenso.tipoTrabajoInvestigacion }}
     {% endblock %}

     {% block modalidad2 %}
         {{ ascenso.tipoTrabajoInvestigacion }}
     {% endblock %}

    {% block firmas %}
        <tr>
            {% for jurado in jurados %}
                {% if jurado.idEstatusTutor.id == 1 or jurado.idEstatusTutor.id == 2 %}
                    <td> {{ jurado.idTutor.cedulaPasaporte }} <br><br></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}
 
 {%block javascripts %} 
     {{ parent() }}
     <script type="text/javascript">
         
     window.onload = function () {
            window.print(); //invoca la impresora tan pronto se carga el documento
            setTimeout(function () { window.close(); }, 100); //cierra la venta si cierra el dialog de imprimir
     }
</script>
 {% endblock %}
