{% extends 'base_app.html.twig' %}

{% block body %}
    <div class="container">
   <div class="widget widget-table action-table">
            <div class="widget-header"> 
                <div class="row">                
                <div class="col-sm-9"><i class="fa fa-list"></i>
                    <h3>Listado de usuarios Registrados</h3></div>
                    <div class="col-sm-2"><input type="text" name="marca" class="form-control"></div>
              </div>
            </div>
         <div class="widget-content">
              <table class="table table-striped table-bordered table-condensed">
                <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombres y Apellidos (Nombre usuario)</th>
                      <th>Eje</th>
                      <th>Estado</th>
                      <th>Adscripción</th>
                      <th>Escalafón Actual</th>
                      <th>Tiempo para ascender</th>
                      <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('admin_usuarios_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.idRolInstitucion.idRol.idPersona.primerNombre }}, {{ usuario.idRolInstitucion.idRol.idPersona.primerApellido }}( {{ usuario.username }} )</td>
                <td>{{usuario.idRolInstitucion.idInstitucion.idEjeParroquia.idEje}}</td>
                <td>{{usuario.idRolInstitucion.idInstitucion.idEjeParroquia.idParroquia.idMunicipio.idEstado}}</td>
                {% if usuario.idRolInstitucion.adscripcion %}
                    <td>CEA-UBV-{{ usuario.idRolInstitucion.adscripcion.anoAdscripcion }}-{{ usuario.idRolInstitucion.adscripcion.correlativoAdscripcion }}</td>
                {% else %}
                    <td>NO ADSCRITO.</td>
                {% endif %}
                <td>
                    {% for escalafones in usuario.idRolInstitucion.escalafones | sort %}
                        {% if loop.last %}
                            {{ escalafones }} desde {{ escalafones.fechaEscala | date('d-m-Y') }}
                        {% endif %}
                    {% endfor %}


                </td>
                <td>
                    {% set time = 0 %}
                    {% for escalafones in usuario.idRolInstitucion.escalafones | sort %}
                        {% if loop.last %}
                            {% for escala in escalas %}
                                {% if escala.id == (escalafones.idEscala.id + 1) %}
                                    {% set time = date(escalafones.fechaEscala | date_modify("+4 years") |date("m/d/Y")) %}
                                {% endif %}
                            {% endfor %}
                            {% set difference = date(time | date('Y/m/d')).diff(date('now' | date('Y/m/d'))) %}
                            {% if difference.invert %}
                                Falta:
                                {% else %}
                                    desde:
                            {% endif %}
                                        {{ difference | date("%Y años %m meses %d días") }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td> 
                    <a href="{{ path('admin_usuarios_show', { 'id': usuario.id }) }}" class="btn btn-xs btn-info"><i class="fa fa-eye" ></i></a>
                    <a href="{{ path('admin_usuarios_edit', { 'id': usuario.id }) }}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>                                            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_usuarios_new') }}">Create a new entry</a>
        </li>
    </ul>
            </div>
{% endblock %}


       {% block javascripts %}
           {{ parent() }}
           <script src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>

           <script>
               $(function() {

                   var $input = $("input[name='marca']"),
                       $context = $("table tbody tr");
                   $input.on("input", function() {
                       var term = $(this).val();
                       $context.show().unmark();
                       if (term) {
                           $context.mark(term, {
                               done: function() {
                                   $context.not(":has(mark)").hide();
                               }
                           });
                       }
                   });

               });

           </script>

       {% endblock %}
