{% extends 'base_app.html.twig' %}

{% block body %}
    <h1>Inscripcion creation</h1>
{{ dump(form.children.idOfertaAcademica.children) }}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}  
    {{ form_start(form) }}
    {% for f in form.children.idOfertaAcademica.children %}
        {{ form_widget(f) }}
    {% endfor %}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('inscripcion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
