{% extends 'base_app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
     
    <style>
        .esc_oposicion, .esc_asistente, .esc_agregado, .esc_asociado, .esc_titular{
            display: none;
        }
        
        h1, h4{
            margin:0;
        }
        
        .container{
            margin-bottom: 0;
        }
    </style>
{% endblock %}



{% block body %}
    <div class="container">
        <h5 class="alert alert-info"><i class="fa fa-info-circle"></i>
            Estimado (a) Docente 
            <strong>{{app.user.idRolInstitucion.idRol.idPersona.primerNombre}}
                {{app.user.idRolInstitucion.idRol.idPersona.primerApellido}}</strong>,
            para poder gozar de los beneficios del Sistema CEA@UBV, primero debe
            <strong>formalizar su adscripción</strong> ante este centro de estudios,
            llenando los datos que a continuación
            se solicitan. Recuerde que debe tener a su alcance los digitales de los 
            documentos descritos en el correo enviado.
            
        </h5>
    </div>
    <div class="account-container register">        
        <div class="content clearfix">            
            <h2>Adscripción CEA@UBV</h2>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}        
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        
    </div>


{% endblock %}




{% block javascripts  %}
    {{ parent() }}
    <script type="text/javascript">
        //si recarga la página con errores y habia marcado que tenía concurso de opsoción
        if ($('#user_oposicion').prop('checked')) {
            $('.esc_oposicion').show();
            $("#user_escala").prop('required', $(this).prop("checked"));
            $("#user_fecha_oposicion_day").prop('required', $(this).prop("checked"));
            $("#user_fecha_oposicion_month").prop('required', $(this).prop("checked"));
            $("#user_fecha_oposicion_year").prop('required', $(this).prop("checked"));
            $("#user_documento_oposicion").prop('required', $(this).prop("checked"));
            $("#user_lineas_investigacion").prop('required', $(this).prop("checked"));
            $("#user_titulo_trabajo").prop('required', $(this).prop("checked"));

        }

        $('#user_oposicion').click(function() {
            $('.esc_oposicion')[this.checked ? "show" : "hide"]();
            $("#user_escala").prop('required', $(this).prop("checked"));
            $("#user_fecha_oposicion_day").prop('required', $(this).prop("checked"));
            $("#user_fecha_oposicion_month").prop('required', $(this).prop("checked"));
            $("#user_fecha_oposicion_year").prop('required', $(this).prop("checked"));
            $("#user_documento_oposicion").prop('required', $(this).prop("checked"));
            $("#user_lineas_investigacion").prop('required', $(this).prop("checked"));
            $("#user_titulo_trabajo").prop('required', $(this).prop("checked"));
        });



        if ($('#user_ascenso').prop('checked')) {
            $('#user_escala').prop('disabled', true);
            $('#user_oposicion').prop('disabled',true);
            if($("#user_escala").val() == 1)
                $('.esc_asistente').show();
            if($("#user_escala").val() == 2)
                $('.esc_agregado').show();
            if($("#user_escala").val() == 3)
                $('.esc_asociado').show();
            if($("#user_escala").val() == 4)
                $('.esc_titular').show();
        }


        $('#user_ascenso').click(function() {



            if($("#user_escala").val() >= 1) $('#user_escala').prop('disabled', true);

            if(!$('#user_ascenso').prop("checked")){
                $('#user_escala').prop('disabled', false);
            }

            if (($("#user_escala").val() == "") && ($('#user_ascenso').prop('checked'))){
                alert("Primero debe seleccionar a que escalafón aprobó concurso");
                $('#user_ascenso').prop('checked', false);
                $('#user_escala').prop('disabled', false);
            }

            if (($("#user_escala").val() == 5 ) && ($('#user_ascenso').prop('checked'))){
                alert("No existen mas escalafones");
                $('#user_ascenso').prop('checked', false);
                //$('#user_ascenso').attr('disabled', true);
            }


        	if($("#user_escala").val() == 1)
           		$('.esc_asistente')[this.checked ? "show" : "hide"]();
          	if($("#user_escala").val() == 2)
           		$('.esc_agregado')[this.checked ? "show" : "hide"]();
                if($("#user_escala").val() == 3)
                    $('.esc_asociado')[this.checked ? "show" : "hide"]();
                if($("#user_escala").val() == 4)
                    $('.esc_titular')[this.checked ? "show" : "hide"]();

        });


        
        
        
        
        
        $("#user_fecha_oposicion_year").change(function(){
            if ($("#user_fecha_oposicion_year").val() < $("#user_fecha_ingreso_year").val()){
                alert('la fecha de concurso debe ser mayor a la fecha de ingreso');
                $("#user_fecha_oposicion_year").val("");
                
            }
        });
        
        $("#user_fecha_ascenso_asistente_year").change(function(){
            if ($("#user_fecha_ascenso_asistente_year").val() < $("#user_fecha_oposicion_year").val()){
                alert('la fecha de ascenso debe ser mayor a la del Concurso de oposición');
                $("#user_fecha_asistente_year").val("");
                
            }
        });


        $('#user_ascenso2').click(function() {                
            	$('.esc_agregado')[this.checked ? "show" : "hide"]();

        });

        $('#user_ascenso3').click(function() {

                $('.esc_asociado')[this.checked ? "show" : "hide"]();

        });

        $('#user_ascenso4').click(function() {

                $('.esc_titular')[this.checked ? "show" : "hide"]();
        });


        $('#user_escala').click(function(){

            //alert($('#user_escala').val());
            if ($('#user_escala').val() == "") $('#user_oposicion').prop('disabled',false);
            if ($('#user_escala').val() >= 1) $('#user_oposicion').prop('disabled',true);
            if ($('#user_escala').val() < 5) $('#user_ascenso').prop('disabled',false);
            else $('#user_oposicion').attr('disabled',false);
        });

        //boton para mostrarle al usuario que estamos esperando
        $('.btn').on('click', function() {
            var $this = $(this);
            $this.button('loading');
        });

        //rehabilitamos todo lo que estaba bloqueado para que pueda ser enviado al servidor
        $('form').on('submit', function() {
            //alert("submit");
            $('input, select').prop('disabled', false);
        });
        
    </script>
{% endblock %}
