{% extends 'base_app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
     
    <style>
        .esc_oposicion, .esc_asistente, .esc_agregado, .esc_asociado, .esc_titular{
            display: none;
        }
        
        h1, h4{
            margin:0;
        }
        
        .container{
            margin-bottom: 0;
        }
    </style>
{% endblock %}



{% block body %}
    <div class="container">
        
        
            {% if antiguedad %}
         <h4 class="alert alert-info"><i class="fa fa-info-circle"></i> 
             <strong>Importante: </strong> Para acceder a este escalaf칩n se le
             est치 tomando en cuenta la <strong>solicitud de antiguedad</strong> que tiene activa
             para poder cumplir con el requisito del tiempo.  Al continuar con esta
             solicitud, su antiguedad quedar치 saldada por lo que no la podr치 volver 
             a utilizar.
         </h4>
        {% endif %}
            
    </div>
    <div class="account-container register">        
        <div class="content clearfix">            
            <h2>Requisitos solicitud ascenso {{ nueva_escala.nombre }}</h2>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}        
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        
    </div>
        
        <!-- Ventanas Modales -->
       
       <!-- Ventana de buscar adscripcion -->
        <div class="modal fade bs-example-modal-sm" id="buscarTutores" tabindex="-1" role="dialog">            
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">El tutor debe tener la escala de {{ nueva_escala.nombre }} o superior</h4>
              </div>
              <div class="modal-body">

                    <h2>Introduzla la cedula y presione buscar</h2>
                    {% form_theme tutorForm 'bootstrap_3_layout.html.twig' %}                         
                    
                    
                    
                    {{ form_start(tutorForm) }}
                                         
                    {{ form_widget(tutorForm) }}
                    {{ form_end(tutorForm) }} 

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" type="submit">Buscar Adscripcion</button>
              </div>
            </div>
          </div>
        </div><!-- Fin de la ventanta modal buscar adscripcion -->


{% endblock %}


 




{% block javascripts  %}
    {{ parent() }}
    <script type="text/javascript">
        $('#ascenso_tipoTrabajoInvestigacion').click(function() {
            
            $('.esc_oposicion')[this.checked ? "show" : "hide"]();
            
        });     
        
       $( "#tutores_ascenso_buscarTutor" ).click(function() {
           if($("#tutores_ascenso_cedulaPasaporte").val() == ""){
               alert("cedula no puede estar vacia");
               return false;
           }
            $.ajax({
               method: "GET",
               url: "{{ url('ajax_buscar_tutor') }}",
               async: true,
               cache: false,    
               data: ({cedula: $("#tutores_ascenso_cedulaPasaporte").val(), documento: $("#tutores_ascenso_idDocumentoIdentidad").val()}),
               success: function (data) {

                       var posts = JSON.parse(data.posts);
                       console.log(posts);
                       if (posts == ""){
                           $('.oculto').removeClass('hidden');
                       }else{
                            $('#ascenso_tutores_asignados').append($('<option>', {
                                 value: 1,
                                 text: 'My option'
                             }));
                        }

                },
               error: function (XMLHttpRequest, textStatus, errorThrown) { 
                     console.log(errorThrown);                 

               }

           });
       });
        
    </script>
{% endblock %}
