{% extends 'base_app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
     
    <style>
        .esc_oposicion, .esc_asistente, .esc_agregado, .esc_asociado, .esc_titular{
            display: none;
        }
        
        h1, h4{
            margin:0;
        }
        
        .container{
            margin-bottom: 0;
        }
    </style>
{% endblock %}



{% block body %}
    <div class="container">
        
        
            {% if antiguedad %}
         <h4 class="alert alert-info"><i class="fa fa-info-circle"></i> 
             <strong>Importante: </strong> Para acceder a este escalaf칩n se le
             est치 tomando en cuenta la <strong>solicitud de antiguedad</strong> que tiene activa
             para poder cumplir con el requisito del tiempo.  Al continuar con esta
             solicitud, su antiguedad quedar치 saldada por lo que no la podr치 volver 
             a utilizar.
         </h4>
        {% endif %}
            
    </div>
    <div class="account-container register">        
        <div class="content clearfix">            
            <h2>Requisitos solicitud ascenso {{ nueva_escala.nombre }}</h2>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}        
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        
    </div>


{% endblock %}




{% block javascripts  %}
    {{ parent() }}
    <script type="text/javascript">
        $('#ascenso_tipoTrabajoInvestigacion').click(function() {
            
            $('.esc_oposicion')[this.checked ? "show" : "hide"]();
            
        });        
        
    </script>
{% endblock %}
