{% extends 'base_app.html.twig' %}
{% block body %} 

             <div class="container">                 
                {% for message in app.session.flashBag.get('success') %}
                    <h4 class="alert alert-success">{{ message }}</h4>                    
                {%endfor %}

                 {% for message in app.session.flashBag.get('warning') %}
                     <h4 class="alert alert-warning">{{ message }}</h4>
                 {%endfor %}

                 {% for message in app.session.flashBag.get('danger') %}
                     <h4 class="alert alert-danger">{{ message }}</h4>
                 {%endfor %}
                <hr>
                 <div class="col-md-5">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <h3 class="panel-title">Solicitud de permiso</h3>
                             <div class="panel-control">
                                 <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Expand/Collapse" class="panel-collapse"><i class="icon-arrow-down"></i></a>
                                 <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reload" class="panel-reload"><i class="icon-reload"></i></a>
                                 <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Remove" class="panel-remove"><i class="icon-close"></i></a>
                             </div>
                         </div>
                         <div class="panel-body">
                             <p>
                                 A través del sistema CEA@UBV, puedes solicitar el uso de permisos para años sabáticos,
                                 permisos por estudio y/o permisos para salir al extranjero.
                             </p>
                         </div>
                     </div>
                 </div>

                 <div class="col-md-7">
                     <div class="panel panel-white">
                         <div class="panel-heading clearfix">
                             <h3 class="panel-title">Permisos Disponibles</h3>
                         </div>
                         <div class="panel-body">
                             <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                 <div class="panel panel-primary">
                                     <div class="panel-heading" role="tab" id="headingOne1">
                                         <h4 class="panel-title">
                                             <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#1" aria-expanded="false" aria-controls="collapseOne">
                                                 Permiso por estudio
                                             </a>
                                         </h4>
                                     </div>
                                     <div id="1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                                         <div class="panel-body">
                                             Puedes solicitar permiso por estudio (finalizar tesis maestría o doctorado) hasta un
                                             máximo de tres meses.
                                         </div>
                                     </div>
                                 </div>
                                 <div class="panel panel-success">
                                     <div class="panel-heading" role="tab" id="headingTwo2">
                                         <h4 class="panel-title">
                                             <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#2" aria-expanded="false" aria-controls="collapseTwo">
                                                 Permiso para el extranjero
                                             </a>
                                         </h4>
                                     </div>
                                     <div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                                         <div class="panel-body">
                                             Necesitar salir al extranjero a realizar una ponencia, taller, entre otros, gestiona
                                             tu permiso a través del CEA@UBV.  Necesario presentar un soporte que valide
                                             el traslado al extranjero.
                                         </div>
                                     </div>
                                 </div>
                                 <div class="panel panel-danger">
                                     <div class="panel-heading" role="tab" id="headingThree3">
                                         <h4 class="panel-title">
                                             <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#3" aria-expanded="false" aria-controls="collapseThree">
                                                 Solicitud de Año Sabático
                                             </a>
                                         </h4>
                                     </div>
                                     <div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree3">
                                         <div class="panel-body">
                                             Al tener el escalafón de asistente, puedes solicitar tu año sabático, siempre y
                                             cuando lo hayas contemplado dentro de tus actividades del PIDA y
                                             nos incluyas una exposición de motivos
                                             <br><br>

                                             {% form_theme formSabatico 'bootstrap_3_layout.html.twig' %}
                                             {{ form_start(formSabatico, {'attr': {'novalidate': 'novalidate'}}) }}
                                             {{ form_widget(formSabatico) }}
                                             {{ form_end(formSabatico) }}
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

        </div>
     </div>
    
{% endblock %}
