{% extends 'base_app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.min.css') }}"> 
    
    
    <style>               
        h1, h4{
            margin:0;
        }
        
        .container{
            margin-bottom: 0;
        }
    </style>
{% endblock %}



{% block body %}
    <div class="container">
        <h4 class="alert alert-info"><i class="fa fa-info-circle"></i>
            Estimado (a) Docente 
            <strong>{{app.user.idRolInstitucion.idRol.idPersona.primerNombre}}
                {{app.user.idRolInstitucion.idRol.idPersona.primerApellido}}</strong>,
            Mientras se verifican sus datos de adscripción, lo invitamos a registrar el PIDA rellenando
            los datos que solicitamos a continuación
            
        </h4>
    </div>
    <div class="account-container register">        
        <div class="content clearfix">            
            <h1>PIDA</h1>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}        
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        
    </div>


{% endblock %}




{% block javascripts  %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/select2/dist/js/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        
        $('select').select2();
    </script>
{% endblock %}
