<h2>Estimado(a) Docente {{ nombres  }} {{ apellidos }}, su solicitud de Servicio: {{ servicio.idServicioCe.nombre}}</h2>
<p>Ha Cambiado de Estatus y tu solicitud se encuentra ahora: {{ servicio.idEstatus.nombre}}</p>
{% if servicio.idEstatus.nombre == "Rechazada" %}
    <h3><strong>Motivo del Rechazo:</strong></h3>
    <h4>{{ mensaje }}</h4>
{% endif %}


<p>Para hacer login dirigete simplemente a la página de ingreso del Portal del Centro de Estudios Ambientales:</p> 
<a href="{{ url('login') }}">Login CEA@UBV</a>.
