{% extends 'base_app.html.twig' %}

{% block body %}
    <h1>Listado de Secciones Sin Planificacion</h1>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Unidad Curricular</th>
                <th>Seccion</th>
                <th>Cantidad Planificada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for seccion in secciones %}                      
            <tr>
                <td><a href="{{ path('ceapp_docente_planificacion_new', { 'seccion': seccion.id }) }}">{{ seccion.ofertaAcademica }}</a></td>                
                <td>{{ seccion.nombre }}</td>
                <td>
                    {{ seccion.planificacion | length}} temas de {{ seccion.ofertaAcademica.idMallaCurricularUc.idUnidadCurricularVolumen.temas | length }} a planificar
                    {% set porcentaje = 0 %}  
                    {% if seccion.ofertaAcademica.idMallaCurricularUc.idUnidadCurricularVolumen.temas | length > 0 %}{% set porcentaje = ( seccion.planificacion | length * 100 ) / seccion.ofertaAcademica.idMallaCurricularUc.idUnidadCurricularVolumen.temas | length  %}{% endif %}                    
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ seccion.planificacion | length}}" aria-valuemin="0" aria-valuemax="{{ seccion.ofertaAcademica.idMallaCurricularUc.idUnidadCurricularVolumen.temas | length }}" style="width:{{porcentaje}}%; min-width: 2em;" >
                            {{ porcentaje }}
                        </div>
                    </div>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ceapp_docente_planificacion_new', { 'seccion': seccion.id }) }}">Planificar</a>
                        </li>
                        <li>
                            <a href="{{ path('ceapp_docente_planificacion_edit', { 'id': seccion.id }) }}">edit</a>
                        </li>
                        {% if porcentaje == 100 %} 
                            <li>
                                <a href="{{ path('ceapp_docente_planificacion_show', { 'id': seccion.id, 'porcentaje' : porcentaje }) }}">Calificar</a>
                            </li>                            
                        {% endif %}
                    </ul>
                </td>
            </tr>            
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
