{% extends 'base.html.twig' %}

{% block body %}
    <h1>PlanificacionSeccion list</h1>

    <table>
        <thead>
            <tr>
                <th>Fecha_creacion</th>
                <th>Fecha_ultima_actualizacion</th>
                <th>Observacion</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planificacionSeccion in planificacionSeccions %}
            <tr>
                <td><a href="{{ path('ceapp_docente_planificacion_show', { 'id': planificacionSeccion.id }) }}">{{ planificacionSeccion.fechacreacion }}</a></td>
                <td>{% if planificacionSeccion.fechaultimaactualizacion %}{{ planificacionSeccion.fechaultimaactualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ planificacionSeccion.observacion }}</td>
                <td>{{ planificacionSeccion.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ceapp_docente_planificacion_show', { 'id': planificacionSeccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ceapp_docente_planificacion_edit', { 'id': planificacionSeccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ceapp_docente_planificacion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
