{% extends 'base.html.twig' %}

{% block body %}
    <h1>PlanificacionSeccion</h1>
    {% for planificacion in planificacionSeccion %}
    <table>
        <tbody>
            <tr>
                <th>Fecha_creacion</th>
                <td>{% if planificacion.fechacreacion %}{{ planificacion.fechacreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha_ultima_actualizacion</th>
                <td>{% if planificacion.fechaultimaactualizacion %}{{ planificacion.fechaultimaactualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ planificacion.observacion }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ planificacion.id }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('ceapp_docente_planificacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ceapp_docente_planificacion_edit', { 'id': planificacion.id }) }}">Edit</a>
        </li>
    {% if porcentaje == 100 %}
         <li>
            <a href="{{ path('ceapp_docente_calificar_new', { 'planificacion': planificacion.id }) }}">Calificar</a>
        </li> 
    {% endif %}
    </ul>
            
            
    {% endfor %}

    
{% endblock %}
